@model DataLayer.ViewModel.Admin.User.SearchingViewModel
@using (Ajax.BeginForm("UserList", "User", null,
                                                                    new AjaxOptions
                                                                    {
                                                                        HttpMethod = "POST",
                                                                        OnBegin = "Common.user.BeforeSend",
                                                                        OnSuccess = "Common.user.SuccessForm",
                                                                        UpdateTargetId = "userList",
                                                                    }, new { @id = "frmUser", @class = "form-horizontal multiple-controls" }))
{
    <div class="panel panel-info">
        <div class="panel-heading">Bộ lọc</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Id</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @value = "" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tài khoản</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Đ/thoại</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Đ/chỉ</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Trạng thái</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(q => q.Status, Model.StatusName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nhóm</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.UserGroupId, Model.UserGroupList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Thuộc KM</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.PromotionId, Model.PromotionList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tỉnh thành</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ProvinceId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ProvinceId" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Quận/ huyện</label>
                            <div class="col-md-8">
                                @Html.DropDownList("DistrictId", new SelectList(new string[] { }), new { @class = "form-control", @id = "DistrictId" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Phường/ xã</label>
                            <div class="col-md-8">
                                @Html.DropDownList("PrecinctId", new SelectList(new string[] { }), new { @class = "form-control", @id = "PrecinctId" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    @Html.HiddenFor(model => model.PageCurrent)
                    @Html.HiddenFor(model => model.OrderBy)
                    @Html.HiddenFor(model => model.SortBy)
                    @Html.HiddenFor(model => model.PageSize)
                </div>
                <div class="col-md-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="glyphicon glyphicon-search "></i> &nbsp; Tìm kiếm
                        </button>

                        <button type="button" class="btn btn-info btn-cons btn-sm" id="btnExport">
                            <i class="fa fa-external-link fa-lg"></i> &nbsp; Export Excel
                        </button>

                        <button type="reset" class="btn btn-default btn-sm" id="btnDelete">
                            <i class="glyphicon glyphicon-refresh "></i> &nbsp; Refresh
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
