@model DataLayer.Framework.Role

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/BackendLayout.cshtml";
}


@section jsFooter{
    
<script src="~/Assets/Admin/js/controller/RoleController.js"></script>
    }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @placeholder = "vd : ADD/VIEW_USER", @id = "txtID", @required = "required",@disabled= "disabled" } })
                <div id="divResult"></div>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "vd : Thêm/xóa/sửa người dùng", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnEdit" value="Sửa" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>